{
    email {$LETSENCRYPT_EMAIL}
}

rendlify.com, www.rendlify.com {
    @www host www.rendlify.com
    redir @www https://rendlify.com{uri} permanent

    encode zstd gzip

    handle_path /api/* {
        reverse_proxy server:3000
    }

    handle {
        reverse_proxy client:3001
    }
}

rendlify.com, www.rendlify.com {
    redir https://rendlify.com{uri} permanent
}
